node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/assets/Images/ggg.jpg
/assets/Images/gkkhg.jpg
/assets/Images/me.jpg
/assets/Images/mnkey.jpg
/assets/Images/rajeev.jpg
